
.Sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    border-right: 1px solid #393c43;
    background-color: #2f3136;
    color: white;
}

.Sidebar__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    padding: 10px;
    border-bottom: 1px solid #393c43;
}

.Sidebar__SearchContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #202225;
    color: white;
    height: 5vh;
    border-radius: 10px;
}

.Sidebar__SearchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 1px;
    margin-left: 5px;
}

.Sidebar__SearchContainer > input{
    border: none;
    outline-width: 0;
    margin-left: 5px;
    width: 100%;
    background-color: #202225;
    color: white;
}

.Sidebar__More > .MuiSvgIcon-root {
    color: white;
    background-color: white;
}

.Sidebar__Chat {
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
}